@import url('https://fonts.googleapis.com/css?family=Sarabun');
//font-family: 'Sarabun', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
    color: #222f3e;
}